.kutu1{
    background-color: azure;
    width: 200px;
    height: 200px;
    border: 9px inset rgb(151, 130, 130);
}
.kutu2{
    background-color: rgb(82, 170, 170);
    width: 200px;
    height: 200px;
    border-radius: 50%;/* sadece oran da verilebilir 15px gibi*/ 
}



    <div class="kutu1"></div>
    <div class="kutu2"></div>
