.kutu1{
    background-color: rgb(10, 56, 56);
    width: 200px;
    height: 200px;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 40px;
}
p{
    margin-top: 60px;
}



    <h3>Css Dersleri</h3>
    <div class="kutu1">    </div>
    <p>Hakkımızda</p>
    <p>İletişim</p>
